@model dynamic

<form action="" method="post">
    <input type="hidden" name="merchant_id" value="@Model.merchant_id" />
    <input type="hidden" name="amount" value="@Model.Amount" />
    <input type="hidden" name="order_id" value="@Model.OrderId" />
    <input type="hidden" name="currency" value="INR" />
    <input type="hidden" name="redirect_url" value="@Model.RedirectUrl" />
    <input type="hidden" name="cancel_url" value="@Model.CancelUrl" />
    
    <!-- Add other required fields here as per CCAvenue documentation -->
    
    <button type="submit">Pay Now</button>
</form>
